# Ignore everything
*

# Allow directories to be tracked
!*/

# Ignore everything inside directories
*/*

# Except for .py, .md, and .rst files
!*.py
!*.md
!*.rst

# Except for .gitignore and .gitkeep files
!.gitignore
!.gitkeep

