# Ignore everything by default
*

# Allow directories to be tracked
!*/

# Allow only .py, .md, .rst, .gitignore, and .gitkeep files
!*.py
!*.md
!*.rst
!.gitignore
!.gitkeep

# Ignore the opencompass/ folder
opencompass/

# Ignore everything inside all folders, except docs/
**/*
!docs/**

# Ensure all contents of docs/ are tracked
docs/*

